*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, button {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #111111;
  color: #fff;
}

img {
  max-width: 440px;
  width: 100%;
  height: auto;
}

html {
  font-size: 12px;
}

@media only screen and (min-width: 720px) {
  html {
      font-size: 16px;
  }
}
